Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  cppcoreguidelines-*,
  clang-analyzer-*,
  portability-*,
  misc-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(core|services)/'
AnalyzeTemporaryDtors: true
